<div class="sidebar col-3 p-5 bg-warning">
  <table class="text-center mx-auto table table-hover">
    <thead>
     <tr>
        <th>温泉検索</th>
      </tr>
    </thead>
    <tbody class="bordernone">
        <tr>
          <td>
            
          </td>
        </tr>
    </tbody>
  </table>
</div>