<div class="sidebar col-3 p-3">
  <table class="text-center mx-auto table table-hover">
    <thead>
     <tr>
        <th>温泉検索</th>
      </tr>
    </thead>
    <tbody class="border-none">
        <tr>
          <td>

          </td>
        </tr>
    </tbody>
  </table>
</div>