<div class="container">
  <div>
    <h4>別府温泉について</h4>
    <p>温泉の湧出量、源泉数ともに日本一を誇る温泉郷、別府。<br>
    温泉の湧出量については、イエローストーン国立公園（アメリカ）に次ぎ、世界第二位でもあり、入浴できる温泉としては世界一。
    豊富な温泉資源を持っています。
    </p>
    <h6>魅力①　多様な泉質</h6>
    <p>世界に10種類存在する泉質の、実に7種類が別府市内で楽しめるということが魅力で、その日の体調や気分に合わせ温泉を選んだり、異なる泉質の温泉を一度に巡ることができます。</p>
    <h6>魅力② 　温泉活用</h6>
    <p>温泉は入浴のみならず、蒸し料理、化粧品開発、地熱発電などに利用されています。</p>
    <h6>魅力③　景観・文化</h6>
    <p>湯けむりの立ちのぼる景観が有名ですが、海から山までなだらかに坂道が続き、どこからでも海と山が臨め、見晴らしも最高です。湯けむりの下には温泉文化が根付きます</p>
  </div>
</div>