<div class="container">
  <div class="pb-4">
    <h4>別府温泉について</h4>
    <div class="m-3">
      <p class="pb-3">温泉の湧出量、源泉数ともに<span class="text-danger">日本一</span>を誇る温泉郷、別府。<br>
      温泉の湧出量については、イエローストーン国立公園（アメリカ）に次ぎ、世界第二位でもあり、入浴できる温泉としては世界一。
      豊富な温泉資源を持っています。
      </p>
      <h5>魅力①　多様な泉質</h5>
      <p class="p-3">世界に<span class="text-danger">10種類</span>存在する泉質の、実に<span class="text-danger">7種類</span>が別府市内で楽しめます。<br>
        その日の体調や気分に合わせて温泉を選んだり、異なる泉質の温泉を一度に巡ることができます。<br>
        皆さんは、機能浴というものをご存知でしょうか？<br>
        機能浴とは、異なる泉質を複数組み合わせて入浴することで、相乗効果を得ようとする入浴方法です。<br>
        例えば、角質を取り除く効果を持つ温泉に浸かった後、保湿効果のある温泉に入り、美肌効果を期待するといったことができます。<br>
        温泉の種類が豊富な別府だからこそ、オススメできる楽しみ方の一つなのです。
      </p>
      <h5>魅力② 　温泉活用</h5>
      <p class="p-3">
        温泉は入浴のみならず、蒸し料理、化粧品開発、地熱発電などに利用されています。<br>
        日本最大級の地熱発電所は別府にあり、そこでは、余剰蒸気で一般家庭約700世帯以上の年間電力消費量を発電できるのです。<br>
        また、温泉釜は無料で使用できるところもあり、家庭の調理に役立てられています。
      </p>
      <h5>魅力③　景観・文化</h5>
      <p class="p-3">
        湯けむりの立ちのぼる景観が有名ですが、海から山までなだらかに坂道が続き、どこからでも海と山が臨め、見晴らしが最高です。<br>
        湯けむりの下には温泉文化が根付きます。桶などの温泉セットを抱えて歩いている人を見かけることも多いです。
      </p>
    </div>
  </div>
</div>