<% content_for :title, "TOP" %>
<!-- サイドバー -->
<%= render "public/homes/sidebar" %>
<div class="col-9">
  <div id="main_visual" class="d-flex">
    <div id="main_visual_text" class="m-auto border border-dark rounded">
      <p class="m-3">
        BeppuOnsen Note とは？
        <br>
        別府温泉日帰り利用者のための温泉検索・レビューサイトです。
        <br>
        訪れる温泉を選ぶ際の参考になる情報を共有しましょう！
        <br>
        会員登録をすれば、クチコミやコメントの投稿ができるようになります。
      </p>
    </div>
  </div>

  <div id="new_items" class="p-3">
    <h4>新着クチコミ</h4>
    
    <p class="text-end mt-3">
      <%= link_to "すべてのクチコミを見る", "#" %>
    </p>
  </div>
</div>

