<div>
  <h4>別府市には存在しない泉質です</h4>
  <div class="p-5 mt-5">
    <h5>〜 二酸化炭素泉の有名な温泉地のご紹介 〜</h5>
    <p class="p-3">
      大分県内にある<span class="text-danger">長湯温泉（大分県竹田市直入町）</span>は世界屈指の炭酸泉湧出地として知られています。<br>
      長湯温泉の凄さは、炭酸ガス濃度の高さです。<br>
      炭酸泉は温度が高くなると炭酸が抜けやすく、濃度が低くなりやすいのですが、
      長湯温泉の炭酸ガス濃度は、湯温が40℃を超えるものとしては極めて高いことが分かっています。<br>
      それゆえ、全国でも他に例をみない貴重な温泉として、“日本一の炭酸泉”と呼ばれています。<br>
      別府から1時間弱なので、ぜひ、足を伸ばされることをお勧め致します。
    </p>
  </div>
</div>