<div>
  <h4>別府市には存在しない泉質です</h4>
  <div class="p-5 mt-5">
    <h5>〜 含ヨウ素泉の有名な温泉地のご紹介 〜</h5>
    <p class="p-3">
      含ヨウ素泉は大分県には存在していません。<br>
      含ヨウ素泉の有名な温泉地としては、秋田県の強首温泉、東京都の前野原温泉などの温泉が代表的です。
    </p>
  </div>
</div>