<div>
  <h4>別府市には存在しない泉質です</h4>
  <div class="p-5 mt-5">
    <h5>〜 放射能泉の有名な温泉地のご紹介 〜</h5>
    <p class="p-3">
      放射能泉は大分県には存在していません。<br>
      放射能泉の有名な温泉地としては、鳥取県三朝温泉、山梨県増富温泉などの温泉が代表的です。<br>
      九州内では佐賀県の熊の川温泉などがあります。
    </p>
  </div>
</div>