<div class="mx-auto col-lg-10 col-xl-9">
  <div class="row my-4">
    <h4 class="col-lg-7 col-md-8 col-sm-12 bg-dark text-light text-center">温泉一覧</h4>
    <p class="col-md-3 col-sm-12 text-center">（全<%= @hot_springs.count %>件）</p>
      <!--余裕があれば、ユーザーの温泉情報登録申請ができるようにする-->
      <%#= link_to "新規登録を申請する", class: "align-middle text-dark" %>
  </div>
  <div class="row mx-auto pt-3">
    <table class="table table-secondary table-border">
      <%= render 'index', hot_springs: @hot_springs , user: current_user %>
    </table>
    <%= paginate @hot_springs %>
  </div>
</div>
