<div class="mx-auto col-11 col-sm-10 col-lg-8">
  <div class="my-4">
    <h4 class="col-4 bg-secondary text-center text-nowrap">温泉情報編集</h4>
  </div>
  <div class="m-5">
    <%= render "form", hot_spring: @hot_spring, url: admin_hot_spring_path, message: "変更を保存" %>
  </div>
</div>