<div class="mx-auto col-11 col-sm-10 col-lg-8">
  <div class="my-4">
    <h4 class="col-4 bg-light text-center text-nowrap">新規温泉登録</h4>
  </div>
  <div class="m-5">
    <%= render "form", hot_spring: @hot_spring, url: admin_hot_springs_path, message: "登録" %>
  </div>
</div>