/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#main{
  background-image: image-url("background_image.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

#main_visual{
  height: 350px;
  background-image: image-url("Beppu.png");
  background-size: cover;
  background-position: center;
}

.pagination{
  justify-content: center;
  margin: 1rem 0;
}

.page.current, .pagination a{
  display: inline-block;
  padding: 3px 8px;
}

.required:after {
  content: " *";
  color: red;
}

#map{
  height: 400px;
}