<div class="container">
  <div class="row py-4">
    <h4 class="col-lg-3 col-sm-5 bg-dark text-light text-center text-nowrap">ユーザー一覧</h4>
    <table class="table table-border table-secondary mb-5">
      <thead>
        <tr>
          <th>ユーザーID</th>
          <th>ユーザー名</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%=link_to user.username, admin_user_path(user),class: "text-dark" %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>