<div class="row mx-auto my-4">
  <h4 class="col-lg-7 col-md-8 col-sm-12 bg-dark text-light text-center align-middle"><%= @user.username %> さんの行った温泉一覧</h4>
  <p class="col-md-3 col-sm-12 text-center">（全<%= @hot_springs.count %>件）</p>
</div>
<div class="row mx-auto pt-3 table-responsive">
  <table class="table table-secondary table-border">
    <%= render 'public/hot_springs/index', hot_springs: @hot_springs, user: @user %>
  </table>
</div>

